---
import "../styles/global.css"
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Gracias por tu mensaje" description="Tu mensaje ha sido enviado correctamente. Me pondré en contacto contigo pronto.">
  <div class="max-w-5xl mx-auto px-4 py-8 text-center">
    <h1 class="text-4xl font-bold mb-4">¡Gracias por tu mensaje!</h1>
    <p class="text-lg mb-6">Tu mensaje ha sido enviado correctamente. Me pondré en contacto contigo pronto.</p>
    <a href="/" class="text-blue-500 hover:underline">Volver a la página principal</a>
  </div>
</MainLayout>